<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wallet.cryptofuelx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name="com.wallet.cryptofuelx.BaseApplication"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_icon" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.itechsoftsolutions.cryptwallet.braintree" />
            </intent-filter>
        </activity>

        <service
            android:name="com.wallet.cryptofuelx.main.data.remote.service.NotificationService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.authentication.welcome.WelcomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name=".main.ui.app.authentication.onboarding.base.OnBoardingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.authentication.registration.RegistrationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.authentication.login.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar">

        </activity>
        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.authentication.verification.CodeVerificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.authentication.resetpassword.ResetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.landing.container.ContainerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.appointment.selectclinic.SelectClinicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.appointment.selectappointmenttype.SelectAppointmentTypeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar">

        </activity>

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.appointment.selectdatesession.SelectDateSessionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.authentication.forgotpassword.ForgotPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.authentication.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.landing.scanner.ScannerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.all_activity.AllTransactionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />
        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.move_coin.MoveCoinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />
        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.add_wallet.AddWalletActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.userprofile.UserProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.setting.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />
        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.change_password.ChangePasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />

        <activity
            android:name="com.wallet.cryptofuelx.main.ui.app.referral.ReferralActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar" />
    </application>

</manifest>
